.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  padding: 0;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.sidebar.show {
  transform: translateX(0);
}

.main-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  background-color: white;
  padding: 20px;
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hide sidebar by default */
    height: 100%;
    z-index: 10;
  }

  .sidebar.show {
    left: 0; /* Show sidebar when active */
  }
}
