.App {
  display: flex;
  height: 100vh;
}

.sidebar {
  padding: 0;
  background-color: #343a40;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  flex-grow: 1;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Hide sidebar by default */
    width: 250px;
    height: 100%;
    transition: left 0.3s;
    z-index: 10;
  }

  .sidebar.show {
    left: 0; /* Show sidebar when active */
  }

  .main-content {
    padding: 20px;
    flex-grow: 1;
  }

  .toggle-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 20;
    background-color: #343a40;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
}
